extends layout

block content
	header.bp-room-header
		a.bp-logo(href="/")
			span.bp-logo-mark BP
			span BitPoints
		.bp-room-meta
			.bp-room-title
				span.bp-room-label Room
				h1 #{room.title}
				span.bp-room-id ##{room.roomId}
		ul#settings.bp-settings
			li
				button.setting.bp-icon-btn(type="button", aria-label="Room settings")
					i.fa.fa-cog
				.drop
					.dropItem
						span.title Deck type
						.control
							.option
								label(for="standard")
									input(type="radio", value="standard", name="deckType", id="standard", checked="checked")
									span Standard
							.option
								label(for="fibonacci")
									input(type="radio", value="fibonacci", name="deckType", id="fibonacci")
									span Fibonacci
							.option
								label(for="letters")
									input(type="radio", value="letters", name="deckType", id="letters")
									span Letters
							.option
								label(for="tshirt")
									input(type="radio", value="tshirt", name="deckType", id="tshirt")
									span T-Shirt
					.dropItem
						span.title Round average
						.control
							label.bp-switch(for="roundNearest")
								input(type="checkbox", name="roundNearest", id="roundNearest")
								span.bp-switch-track
									span.bp-switch-thumb
								span.bp-switch-label Snap to nearest card
					.dropItem
						span.title Invite link
						.control
							.bp-invite
								span#inviteUrl #{inviteId}
								button#showLink.bp-icon-btn-sm(type="button", data-link=inviteId, aria-label="Show invite link")
									i.fa.fa-share-square-o

	main#room.bp-room
		section.bp-round-bar
			button#toggleRound.bp-btn-round Begin Estimating
			#ticket.bp-ticket
			.bp-round-results
				#average The average estimate is&nbsp;
					span.val
				#nearestCard The nearest card is&nbsp;
					span.val
				#largeSpread.bp-spread-warning
					i.fa.fa-exclamation-triangle
					|  Looks like there's some uncertainty about this estimate…

		ul#users.bp-voters

	script.
		BP.room = !{JSON.stringify(room)};
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/host.js")
